<%+header%>
<head>
<title>Filebrowser - LuCI</title>
	<style type="text/css">
		#path, #listing {
			font-size: 85%;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
		}

		li img {
			vertical-align: bottom;
			margin-right: 0.2em;
		}
</style>
</head>

<body>
	<%
		require("nixio.fs")
		require("nixio.util")
		require("luci.http")
		require("luci.dispatcher")

		local field   = luci.http.formvalue('field')
		local filestat = nixio.fs.stat( filepath )
		local baseurl  = luci.dispatcher.build_url('commotion', 'appropriate')
		if filestat and filestat.type == "reg" then
			table.remove( path, #path )
			filepath = table.concat( path, '/' ) .. '/'
		elseif not ( filestat and filestat.type == "dir" ) then
			path     = { '' }
			filepath = '/'
		else
			filepath = filepath .. '/'
		end

		local entries = nixio.util.consume((nixio.fs.dir(filepath)))
	-%>
	
<center><h1>Appropriate Box</h1>
<div> Click on a file in the list below to download.</div></center>
<hr />
<center>
	<div id="listing" align="left" style="width:400px;">
	  <%- if #entries == 0 then -%>
	  <h2 align="center"> No Files Uploaded, Please Upload a file below. </h2>
	  <%-end-%>
		<ul>
			<% for _, e in luci.util.vspairs(entries) do
			    local stat = nixio.fs.stat(filepath..e)
				if stat and stat.type == 'dir' then
			-%>
				<li class="dir">
					<img src="<%=resource%>/cbi/folder.gif" alt="<%:Directory%>" />
					<a href="<%=baseurl%>?dir=<%=e%>"><%=e%>/</a>
				</li>
			<% end end -%>

			<% for _, e in luci.util.vspairs(entries) do
			    local stat = nixio.fs.stat(filepath..e)
				if stat and stat.type ~= 'dir' then
			-%>
				<li class="file">
				  <img src="<%=resource%>/cbi/file.gif" alt="<%:File%>" />
				  <a href="<%=baseurl%>?file=<%=e%>"><%=e%></a>
				</li>
			<% end end -%>
		</ul>
	</div>
</center>

<hr>

<center><h2>Upload A File</h2>
<fieldset class="cbi-section">
  <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
  <div class="cbi-section-descr"><%:Upload a file to the Commotion Media Server.%></div></center>
  <div class="cbi-section-node">
	<div class="cbi-value cbi-value-last<% if image_invalid then %> cbi-value-error<% end %>">
	  <div class="cbi-value-field">
		<input type="file" id="media" name="upload" />
		<input type="submit" name="uploader" class="cbi-button cbi-input-apply" value="<%:upload%>" style="width:100px" />
	  </div>
	</div>
  </div>
</form>
</fieldset>
</body>
<%+footer%>
